Source: mrpdi
Section: kernel
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Uploaders: M.Angel Juan <m.angel.juan@gmail.com>, Raul Rodrigo Segura <lliurex_devel3@edu.gva.es>, Hector Garcia Huerta <lliurex_devel1@edu.gva.es>, Daniel Duran Vecino <daduve@gmail.com>, Juanma Navarro <juanma1980@gmail.com>, Juan Ramon Pelegrina <juapesai@hotmail.com>
Build-Depends: cdbs, debhelper (>= 7), libx11-dev, libusb-1.0-0-dev, libxrandr-dev, pkg-config
Standards-Version: 3.9.5

 
Package: mrpdi-core
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: mrpdi core files
 mrpdi core shared libraries

Package: mrpdi-dev
Architecture: any
Depends: mrpdi-core (>=2.0)
Description: mrpdi development files
 Needed files to develop mrpdi drivers

